{% extends "base.html" %}
{% block head %}
<title>{{img.display_date}} - Bing Archiver</title>
<meta name="description" content="{{img.title}}">
<meta property="og:title" content="{{img.display_date}} - Bing Archiver">
<meta property="og:image" content="{{root}}{{img.thumb_url}}">
{% endblock %}
{% block navbar %}
<a href="{{root}}">Bing Archiver</a> /
<a href="{{root}}{{img.html_month_url}}">{{img.display_month}}</a>
{% endblock %}
{% block bg %}{{root}}{{img.thumb_url}}{% endblock %}
{% block body %}
<h1>{{img.display_date}}</h1>
<h2>{{img.title}}</h2>
<img src="{{root}}{{img.thumb_url}}" alt="">
<p class="copy">{{img.copyright}}</p>
<p>
  <a rel="nofollow" href="{{root}}{{img.url}}">Download</a>
  ({{img.Image.width}}x{{img.Image.height}}) ({{img.filesize}} MB)
</p>
</div>
{% endblock %}
