{% extends "base.html" %}
{% block bg %}{{root}}{{img.thumb_url}}{% endblock %}
{% block body %}
<h1>Picture of the Day</h1>
<h2>{{img.title}}</h2>
<img src="{{root}}{{img.thumb_url}}" alt="">
<p class="copy">{{img.copyright}}</p>
<p>
  <a rel="nofollow" href="{{root}}{{img.url}}">Download</a>
  ({{img.Image.width}}x{{img.Image.height}}) ({{img.filesize}} MB)
</p>
<hr>
<p><a class="btn" href="{{root}}{{img.html_month_url}}">Browse all →</a></p>
<hr>
<h1>About the Bing Archiver</h1>
<p>
  This site archives Bing’s picture of the day by scraping and
  downloading the publicly available high resolution file
  from <a href="https://www.bing.com">bing.com</a>. Metadata such as
  copyright and description are added to the image files, and are also
  archived on this site.
</p>
<p>
  Images are not for commercial use without explicit permission from
  their authors.
</p>
<p>
  <a href="https://github.com/vsalvino/bing-archive">github.com/vsalvino/bing-archive</a>
</p>
{% endblock %}
